.page {
  animation: page-rise 0.3s ease-in-out;
  background-color: rgba(255, 235, 205, 0.103);
  height: 100%;
}

@keyframes page-rise {
  0% {
    margin-top: 3em;
  }
  100% {
    margin-top: 0;
  }
}
